<h2 class = "text-danger text-center"> Línea de tiempo de la vida de Aaron Swartz </h2>
       <ul>
         <Li> Nacido el 8 de noviembre de 1986 en Highland Park illinois. 
         <Li> 6 dic, 2000 edad 14, contribuye a la especificación para RSS 1.0. RSS 
         <Li> 2004 Swartz asiste a la Universidad de Stanford por un año, dejando para comenzar la compañía de software Infogami. 
         <Li> 2005, Swartz trabajó con los fundadores de otra empresa naciente Y-Combinator Reddit. 
         <Li> 4 Sep, 2006 Swartz escribe un artículo, examinando las contribuciones a los artículos de Wikipedia, 
         <Li> 31 Oct, 2006 Condé Nast Publications, compra Reddit por los $ 20 millones reportados. 
         <Li> 1 ene, 2007 Swartz deja Reddit. 
         <Li> 1 jul, 2008 Swartz, hace un llamando a los activistas a "luchar" contra el secuestro de documentos académicos y la información detrás de las paredes de pago. 
         <Li> 4 Sep, 2008 Descargas Base de datos Pacer. 
         <Li> 29 Sep, 2008 El sistema Pacer suspendió investigaciones del FBI. 
         <Li> 5 de octubre de 2009 Swartz <a href="http://www.aaronsw.com/weblog/fbifile" target="blank"> lanza su archivo FBI en su blog. </a>
         <Li> Sep 2010 Swartz presuntamente utiliza varios métodos para obtener artículos de la base de datos JSTOR. 
         <Li> 27 Sep, 2010 Swartz funda <a href="https://demandprogress.org/" target="blank"> Demand Progress</a>, un Comité de Acción Política Progresista y una organización de activismo de base. 
         <Li> 6 de enero 2011 swartz arrestado en el MIT. 
         <Li> 19 Jul, 2011 carga con descarga ilegal de la base de datos JASTOR. 
         <Li> 7 Sep, 2011 JSTOR anuncia que ha publicado el contenido de dominio público de sus archivos para su visualización pública. 
         <Li> 11 enero, 2013 Aaron Swartz se suicida a los 26 años. 
         <Li> 10 Nov, 2014 Kevin Poulsen, editor colaborador de Wired, lanzó <a href="http://swartzfiles.com/" target="blank"> swartzfiles.com </a>, una compilación de documentos, Fotografías y videos relacionados con Swartz que son liberados por el Servicio Secreto de EE.UU. en virtud de su proceso de Libertad de Información Ley contra la agencia. Según Poulsen, el Servicio Secreto está publicando un nuevo lote de documentos aproximadamente cada dos meses. El sitio también incluye documentos de FOIA publicados por el FBI, el Servicio de Mariscales de Estados Unidos, y documentos liberados voluntariamente por MIT y JSTOR. 
       </ul>