<div id="content">
	
	<p><b>Aaron Swartz</b> era un hacker, programador, emprendedor, escritor, activista político y hacktivista de Internet. Cofundó además el grupo en línea <a class="text-prime" href="https://demandprogress.org/">Demand Progress</a>, conocido por su campaña en contra de la Ley SOPA.</p>
	<p>Él es uno de los creadores de <a href="www.reddit.com" class="text-danger">Reddit</a>, unos de los sitios web más visitados hoy en día.</p>
	<p>El desde muy pequeño el demostró gran abilidad con las computadoras, desde esa edad empezó a asistir a eventos tecnológicos, y gracias a su conocimiento llego a participar en proyectos como:</p>
	<ul>
	    <li *ngFor="let item of projects">{{item[0]}} <small>{{item[1]}}</small></li>
    </ul>
	<p>También creía  en que mucho del contenido que encontramos en la web tiene que ser accesible por todos los internautas. El 6 de enero de 2011 Swartz fue arrestado por el Departamento de Policía del Instituto Tecnológico de Massachusetts <b>(MIT police)</b> bajo los cargos de fraude electrónico, fraude informático, entrada ilegal e imprudente a un ordenador protegido y daños, después de conectar una computadora a la red del MIT desde un armario sin vigilar ni cerrar, y poniéndola a descargar publicaciones académicas automáticamente desde <b class="text-danger">JSTOR</b>, usando una cuenta de invitado que le proporcionó el mismo Instituto.</p>
	<ul>
	    <p>Los fiscales federales después le imputaron los cargos de fraude en línea y once violaciones al "Acta de Fraude y Abuso Computacional", arrastrando una pena máxima que ascendía a una multa de <b>1 millón de dólares, 35 años de prisión, incautación de bienes, indemnización, y libertad vigilada.</b></p>
	</ul>
	<p>Desde este momento se creó una fundación que recaudaba fondos para ayudarlo. Porque todo el dinero que gastaba en la demanda era inconmensurable.</p>
	<p>Se suicidó mientras permanecía en calidad de acusado por la Magistratura Federal de los Estados Unidos por robo de información, una persecución que fue tildada por la familia como "el producto de un sistema criminal-judicial plagado de intimidación y enjuiciamientos excesivos".</p>
	<p>En junio de 2013, Swartz fue incluido póstumamente en el Salón de la Fama de Internet.</p>
</div>
