<p>Al hablar de Aaron Swartz siempre habrá tres constantes: siempre fue muy joven para todo lo que hizo, claro, incluso para morir; también que su sensibilidad rebasó su genio y por tanto se dio en cara con muchas de las estructuras existentes en este mundo; y por último, que él remite a una etapa del Internet que nunca volverá a ser el mismo.</p>
<div class="well">
    <blockquote *ngFor="let quot of quotes" cite="#">
        <p class="text-muted">{{quot[0]}}</p>
        <cite><p>{{quot[1]}}, {{quot[2]}}</p></cite>
    </blockquote>
</div>
